<div class="post-partial">

    <div class="post-container">

        <div class="post-header">

            <div class="header-left">
                <h2><a href="/posts/{{id}}">{{title}}</a></h2>
                <p class="tagline">By {{user.first_name}} on {{format_date date_created}}</p>
            </div>

            {{!-- these buttons are only rendered if a "user_logged_in" flag is passed in --}}
            <div class="header-right">
                {{#if user_logged_in}}
                    <a href="/posts/{{id}}/update" class="update-post">Edit Post</a>
                    <a href="/posts/{{id}}/delete" class="delete-post">Delete Post</a>
                {{/if}}
            </div>

        </div>

        <div class="post-body">
            <p>{{content}}</p>
        </div>

        <div class="post-footer">
        <a href="/posts/{{id}}">{{comments.length}} comments</a>
        </div>

    </div>
    
</div>
